* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: white;
  text-transform: uppercase;
  font-size: 1.2vw;
}
body {
  background-image: url("/assets/the\ witcher\ hell@2x.png");
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
div {
  display: inline;
}
section {
  display: inline-block;
  border: solid pink;
}
.navigation-menu {
  border: solid purple;
}
nav li {
  display: inline;
  margin-left: 18px;
  cursor: pointer;
}
nav {
  display: inline;
  padding-left: 30vw;
  border: solid grey;
}
.logo {
  padding-top: 2vh;
  padding-left: 16vw;
}
.logo img {
  width: 4vw;
}
.titulo {
  display: inline-block;
  vertical-align: top;
  margin-top: 8vh;
  padding-left: 2vw;
}
main {
  height: 86%;
  background-image: url("/assets/the\ witcher\ kavil2@2x.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  border: solid green;
}
.main-logo {
  display: inline-block;
  padding-top: 40vh;
  margin-left: 40vw;
  border: solid blue;
}
.main-logo img {
  width: 20vw;
  border: solid;
}
.main-buttom img {
  width: 15vw;
}
.main-buttom {
  padding-top: 2vh;
  margin-left: 43vw;
}
